@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Questrial&family=Readex+Pro&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Readex Pro', sans-serif;
}

html, #root {
    height: 100%;

}

html, body {
    overflow: hidden; /* slideout */
}

body {
    padding: 0; /* slideout */
    height: 100%;
    margin: 0;
    background: linear-gradient(0.40turn, #292ca4, #fe749c);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.showPlayer {
    z-index: 9999;
    position: absolute;
    bottom: 0;
    left: 11vw;
    width: 1500px;
    /* margin-left: 2vw;
    margin-right: 2vw; */
}

.pointer {
    cursor: pointer;
}

.libray-container {
    height:83vh;
    overflow: auto;

}

.tabletable {
    text-align: left;
    border-collapse: collapse;
    width: 90%;
    color: grey;
    margin: 0 auto;
}

th {
    border-bottom: solid 0.01em white;
}

td {
    padding-top: 3px;
    padding-bottom: 3px;
    height: 15px;
}

/*size of song image*/
.coverImg {
    width: 2rem;
}

tr {
    height: 15px;
}

tr:hover td {
    background:rgb(58, 58, 58);
}

.fa-heart {
    color: rgb(11, 150, 11);
}

.pageTitle {
    font-size: 13vh;
    font-weight: bold;
    background: -webkit-linear-gradient(rgb(241, 241, 241), rgb(94, 94, 94));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 3vw;
}

.pageTitleBorder {
    border-width:0px;
    border:none;
    -webkit-appearance: none;
    caret-color: white;
}

.pageTitleBorder:focus,
.subTitleSearch {
    outline: none;
}

.pageTitleWidth {
    width: 20px;
}

.subTitleSearch {
    border-width:0px;
    border:none;
    -webkit-appearance: none;
    caret-color: rgb(59, 59, 59);
    margin-left: 5vw;
    margin-bottom: 4vh;
}

.subTitle {
    margin-left: 5vw;
    color: rgb(175, 175, 175);
    margin-bottom: 4vh;
}

.subTitlePlaylist {
    margin-left: 1vw;
    color: rgb(175, 175, 175);
    margin-bottom: 4vh;
}

.subTitleSearch1 {
    color: rgb(175, 175, 175);
    margin-bottom: 4vh;
}

.hideText{
    color: #0e1849
}

.dashHeader {
    margin-left: 4vh;
    margin-top: 8vh;
}
