@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Readex+Pro&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Readex Pro', sans-serif;
}

html, #root {
    height: 100%;

}

html, body {
    overflow: hidden; /* slideout */
}

body {
    padding: 0; /* slideout */
    height: 100%;
    margin: 0;
    background: linear-gradient(0.40turn, #292ca4, #fe749c);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.showPlayer {
    z-index: 9999;
    position: absolute;
    bottom: 0;
    left: 11vw;
    width: 1500px;
    /* margin-left: 2vw;
    margin-right: 2vw; */
}
