.main_row1 {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    margin: 0;
}

.sub_row1 {
    display: flex;
    width: 10rem;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    margin-left: 9vw;
    margin-bottom: 5vh;
}

.subsubrow1 {
    padding-bottom: 1vh;
}

.social_image1 {
    width: 20vh;
}

.followOptions,
.pipe {
    color: rgb(175, 175, 175);
    margin-left: 2vw;
}

.followOptions:hover {
    text-decoration: rgb(175, 175, 175) underline 1px;
    color: rgb(255, 255, 255);
}

.optionwrapper {
    display:flex;
    justify-content: center;
    margin-bottom: 2vw;
}
