.loginForm {
    color: #FFF;
    font-family: 'Questrial', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    height: 100%;
    background: linear-gradient(0.60turn, #513aa3, #fe749c);
}
.loginForm label {
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #FFF;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
    padding-top: 0.5vh;
    padding-right: 2vw;
}

.loginForm input {
    font-family: 'Questrial', sans-serif;
    width: 50%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 14px;
    letter-spacing: 1px;
    color: #607d8b;
    border-radius: 20px;
}

.loginEmail, .loginPassword {
    display: flex;
    padding: 0vh 6vw 0vh 0vw;
    justify-content: flex-end;
}

.loginForm button {
    color: #fff;
    width: 80%;
    padding: 10px;
    /* border: 2px solid white!important; */
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
    background: #0d1230;
}

.signUpForm {
    color: white;
    border-radius: 20px;
    min-width: 35vw;
    background: linear-gradient(0.60turn, #513aa3, #fe749c);
    padding: 2vh 3vw 2vh 3vw;
    text-align: center;
}

.signUpForm > img {
    margin-top: -6vh;
    width: 7vw;
    height: auto;
}

.signUpForm > hr {
    margin-top: 20px;
    width: 20vw; 
}


.signUpContent {
    display: flex;
    flex-direction: column;
}

.signUpContent > h1, .signUpForm > p {
    color: #fff;
}

.signUpContent > div > input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #999;
    border-radius: 20px;
    outline: none;
}

.signUpContent-btn {
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #0d1230;
}

.signUpLogin {
    color: #0d1230;
}

.validationErrors > ul {
    list-style: none;
}


