.dashboard {
    min-height: 100vh; /* develop */
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
    margin-right: 2vw;
    background: #0d1230;
    border-radius: 50px 50px 0px 0px;
    z-index: 10;

    animation: 1s ease-out 0s 1 slideInFromBottom;
}

.dashboardDisappear {
    animation: 1s linear 0s 1 slideDisappear
}

.dashboard-top-navbar {
    min-height: 5vh;
    
}

.dashboard-main {
    background-color: #0d1230;
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.dashboard-main-leftnav {
    min-width: 15%;
}

/* topleft "Search" "YourLibrary" */
.d-m-leftnav-top {
    color:#FFF;
    font-weight: 100;
    width: 100%;
    font-size: 1vw;
}

/* topleft individual links/headlines */
.d-m-leftnav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vh;
}

.liner {
    left:70px;
    max-width: 10vw;
    content: '';
    height: 5px;
    background: #0e1849;
    margin: 5px 0px 0px auto;
}

.d-m-leftnav-top ul, .d-m-leftnav-bot ul {
    list-style-type: none;
}

.d-m-leftnav-bot ul {
    padding-left: 2vw;
    font-size: 0.9vw;
    overflow: hidden;
}

.d-m-leftnav-bot li, .d-m-leftnav-top li {
    white-space: nowrap;
    margin: 1vh 0;
}

/* playlists */
.d-m-leftnav-bot {
    /* position: absolute; */
    left: 2vw;
    top: 21vh;
    overflow-y: scroll;
    height: 64vh;
    width: 14vw;
    color: #c6b8b8;
}

/* overflow scrollbar css */
.d-m-leftnav-bot::-webkit-scrollbar-thumb {
    background-color:#FFF;
    border-radius: 40px;
}

/* scrollbar track */
.d-m-leftnav-bot::-webkit-scrollbar-track-piece {
    background-color: #0d1230;
}

.d-m-leftnav-bot::-webkit-scrollbar-track {
    padding: 2px 0;
    background-color: #404040;
    border-radius: 40px;
}
.d-m-leftnav-bot::-webkit-scrollbar {
    width: 10px;
    color: red;
}


/* main dashboard content */
.dashboard-main-rightcontent {
    background-color: #0e1849;
    color: #FFF;
    width: 100%;
    border-radius: 10px 0px 0px 0px;
  
}

.dashboard-bot-player {
    background-color: #0d1230;
    
}



/* dashboard "load" */

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideDisappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
