.addToPlaylistBtn {
    /* background-color: black; */
    color: white;
    padding: 5px 6px;
    border: none;
    cursor: pointer;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 0px
  }

  /* .addToPlaylistBtn:hover, .addToPlaylistBtn:focus {
    background-color: #232627;
  } */

  .dropdownBtn {
    position: relative;
    display: inline-block;
  }

  .asdf {
      position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    top: 0px;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
  }

  .dropdown-content p {
    color: black;
    padding: 0px 6px;
    margin: 0px 6px;
    text-decoration: none;
    
  }

  .dropdownBtn p:hover {background-color: #ddd;}

  .show {display: block;}

  .addtoplaylist {
    cursor: pointer;
  }

  .invisible-box-click {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: red;
    
  }

  .rel {
    position: relative;
  }

  .modal-box {
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white

  }

 
  
