.main_row {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    /* margin: auto; */
}

.sub_row {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    margin-left: 2.7vw;
}

.subsubrow {
    padding-bottom: 2vh;
}

.social_image {
    width: 15vh;
}
