.main_row2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    margin: none;
}

.sub_row2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    margin-right: 1.5rem;
}

.subsubrow2 {
    padding-bottom: 1vh;
}

.social_image {
    width: 15vh;
}
